/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 10px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.placeholder chart h4 {
  margin-bottom: 30px;
}

#specimen-counter-box {
    background: #74AE59;
    width: 200px;
    font-size: 64px;
    text-align: center;
    /*padding-top: 63px;
    #padding-bottom: 63px; */
    height: 74px;
}

/* 
    COG Style Overrides 
    http://paletton.com/#uid=12G0u0kfDpf6bEGaJuhkgkIphfP
*/
a {
    color: #115341;
}
body {
    color: #115341;
}
.navbar-inverse {
    background-color: #74AE59;
}
.navbar-inverse .navbar-brand {
    color: #115341;
}
.sidebar {
    background-color: #C9E7BA;
}
#specimen-counter-box {
    background-color: #C9E7BA;
    border-color: #204D74;
}
.btn-primary {
    color: #115341;
    background-color: #C9E7BA;
}
.btn-primary:hover {
    color: #115341;
    background-color: #74AE59;
}
.navbar-inverse .navbar-nav > li > a {
    color: #115341;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: #74AE59;
    color: #fff;
}
html body div.container-fluid div.row div.col-sm-3.col-md-2.sidebar {
    width: 250px;
}
html body div.container-fluid div.row div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main {
    margin-left: 250px;
}
.nav-pills > li.active > a,  .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #74AE59;
    border-color: #74AE59;
}
.nav-pills > .active > a > .badge {
    color: #74AE59;
}
.coglogo {
    font-family: 'Bitter', serif;
    font-size: 24px;
    color: white;
    background-color: #74AE59;
    line-height: 1.1;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px 15px 10px 25px;
}

.hhowlogo {
    text-align: center;
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
    padding: 0px 25px 10px 0px;
}
.hhowlogo-image {
    text-align: center;
    background-color: white;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 0px;
}
.hhowlogo-text1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
    color: darkgray;
    margin: 0;
    margin-left: 10px;
    margin-right: -20px;
}
.hhowlogo-text2 {
    font-family: 'Times New Roman';
    font-size: 12px;
    color: black;
    margin: 0;
    margin-left: 15px;
    margin-right: -10px;
    font-style: italic;
}
.badge {
  color: white;
  background-color: #115341;
}

.navbar-brand {
    font-size: 24px;
}